
body {
  font-family: $font1;
  color: $grey2;
  font-size: $base;
  background: $grey1 url(../img/topography.svg) ;
  background-size: 200px;
}

a {
  color: $grey3;
  text-decoration: none;
  transition: all .9s;


  &:hover {
    color: $white;
  }
}


// TITLES //

@mixin titleStyles {
    color: $grey3;
    display: block;
    width: 328px;
    padding-bottom: 15px;
    font-weight: $font-L;
    font-family: $font1;
    font-size: $titleSize;
    border-bottom: 1px solid $grey2;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
    letter-spacing: 3px;
    // background: honeydew;

}



// PROJECTS //

@mixin projectLogo {
  width: 100%;
  margin: auto;
}
