// Project 1 accent controls

.p-1 { color: $p-1-accent; }

i.p-1:hover { background: $p-1-accent !important; }


// Project 2 accent controls

.p-2 { color: $p-2-accent; }
.p-2-link { color: $p-2-accent !important;}

i.p-2:hover { background: $p-2-accent !important; }


// Project 3 accent controls

.p-3 { color: $p-3-accent; }

i.p-3:hover { background: $p-3-accent !important; }


// Project 4 accent controls

.p-4 { color: $p-4-accent; }

i.p-4:hover { background: $p-4-accent !important; }


// Project 5 accent controls

.p-5 { color: $p-5-color; }

i.p-5:hover { background: $p-5-color !important; }


// Project 6 accent controls

.p-6 { color: $p-6-accent; }

i.p-6:hover { background: $p-6-accent !important; }
