
// FONTS //

$font1: 'Montserrat', sans-serif;


// FONT SIZE //

$titleSize: 1.875em;
$base: 1em;
$xp: 1.250em;
$cr: 0.750;


// FONT WEIGHT //

$font-L: 300;
$font-M: 400;
$font-B: 700;


// COLORS //

$grey1: #1a1a21;
$grey2: #474747;
$grey3: #707070;
$grey4: #212121;

$white: #ffffff;




// COLORS //

$p-1-color: $white;
$p-2-color: #EBF4FD;
$p-3-color: #176C85;
$p-4-color: #8A4384;
$p-5-color: #AF272F;
$p-6-color: #212121;



// WORK PAGE VARS //
