
// FONTS //

$font1: 'Montserrat', sans-serif;


// FONT SIZE //

$titleSize: 1.875em;


// FONT WEIGHT //

$font-L: 300;
$font-M: 400;
$font-B: 700;


// COLORS //

$grey1: #212121;
$grey2: #474747;
$grey3: #707070;
$grey4: #212121;

$white: #ffffff;




// COLORS //

$p-1-color: $white;
$p-2-color: #EBF4FD;
$p-3-color: #212121;
$p-4-color: #212121;
$p-5-color: #212121;

