<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet")
    link(rel="stylesheet", href="../assets/css/styles.css")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    title Taschner || Portfolio

  body
    main.wrapper
        include ../includes/project-header.jade

        
        
        section.company-brand
            img(src="../assets/img/projects/project-1/logo/logo.svg", alt="Infinite Retires logo" class="company-logo p-1-logo")
            h2.company-name.p-1 Infinite Retries
            a(href="http://infiniteretries.com/secret/" target="_blank")
                i(class="fas fa-link p-1")
        
        section.project-content
            article.project-overview
                p Infinite Retries is a video game based web app, currently under development. I co found this idea with Tristan Quintana, I am in charge of design and development while Tristan works marketing and business. This side project is a fun but demanding goal of ours. It is teaching us what it takes to build and launch a scalable application.
                p We are launching our first landing page this fall, hoping to follow up with a basic React prototype. The prototype is to test user experience, proof of concept, and gain some preliminary exposure. If that goes well we are looking to develop Infinite Retries with a MERN stack (Mongo, Express, React, Node). I am really excited and motivated to see where this experience takes my abilities.
                
                h3.p-1 Project Details:

                ul
                    li Bootstrap
                    li Sass
                    li MERN ( Mongo, Ember, React, Node)
                    li Web application
            
            article.project-examples
                .example-item.item-1
                    img(src="../assets/img/projects/project-1/project-examples/p-e-1.png", alt="Project Logo")
                .example-item.item-2
                    img(src="../assets/img/projects/project-1/project-examples/p-e-2.png", alt="Project Logo")
                .example-item.item-3
                    img(src="../assets/img/projects/project-1/project-examples/p-e-3.png", alt="Project Logo")
                .example-item.item-4
                    img(src="../assets/img/projects/project-1/project-examples/p-e-4.png", alt="Project Logo")
        
    include ../includes/footer.jade

            


