<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet")
    link(rel="stylesheet", href="../assets/css/styles.css")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    title Taschner || Portfolio

  body
    main.wrapper
        include ../includes/project-header.jade
        
        
        section.company-brand
            img(src="../assets/img/projects/project-2/logo/logo.png", alt="Infinite Retires logo" class="company-logo")
            h2.company-name.p-2 Brillo Construction Services
            a(href="http://brillocs.com/" target="_blank" class="profile-link")
                i(class="fas fa-link p-2")
        
        section.project-content
            article.project-overview
                p Behind the scenes Brillo serves construction companies throughout the Denver metro area. When you walk into a downtown skyrise the odds are you are seeing their work.

                p They tasked me to create a fast, inexpensive and simple website to accompany their active social presence. They recognize their audience and know that the effort was to be used on function over bells and whistles. They wanted something clean and concise.

                p To meet their requests my approach was for us to choose a Bootstrap theme. Brillo’s social and marketing employee would be in charge of making minor changes to the website. With that in mind I customized sections with easy to edit cards, modals and image galleries. I am kept as their go to web guy for any major web &amp; photo retouch projects.


                h3.p-2 Project Details:

                ul
                    li Bootstrap
                    li Sass
                    li One page layout
                    li Modal service section
                    li Easy sort image gallery
                    li Photo retouching
                
            
            article.project-examples
                .example-item.item-1
                    img(src="../assets/img/projects/project-2/project-examples/p-e-1.png", alt="Project")
                .example-item.item-2
                    img(src="../assets/img/projects/project-2/project-examples/p-e-2.png", alt="Project Logo")
                .example-item.item-3
                    img(src="../assets/img/projects/project-2/project-examples/p-e-3.png", alt="Project Logo")
                .example-item.item-4
                    img(src="../assets/img/projects/project-2/project-examples/p-e-4.png", alt="Project Logo")     
        
    include ../includes/footer.jade

            


