body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #474747;
  font-size: 1em;
  background: #1a1a21 url(../img/topographic-2.svg);
  background-size: 325px; }

::selection {
  color: #7DB0E5;
  background: #731dd8; }

a {
  color: #707070;
  text-decoration: none;
  transition: all .9s; }
  a:hover {
    color: #ffffff; }

p {
  padding-bottom: 10px; }

.modal-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: flex-start; }

.modal-open {
  display: flex; }

.modal-shell {
  width: 80%;
  height: 200px;
  background: #ffffff;
  z-index: 3;
  text-align: center; }

.logo-area {
  position: relative;
  height: 100vh;
  overflow: hidden; }

.logo-container {
  position: absolute;
  height: 385px;
  top: 50%;
  margin-top: -192.5px;
  width: 100%;
  z-index: 1; }
  .logo-container .logo {
    height: 199px;
    width: 100%;
    background: url(../img/diamond-logo.png);
    background-position: top;
    background-repeat: no-repeat;
    transition: all .5s ease; }
    .logo-container .logo:hover {
      background: url(../img/rt-mountain.svg);
      background-position: top;
      background-repeat: no-repeat;
      opacity: .2; }
  .logo-container .name-title {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #474747; }
    @media (max-width: 700px) {
      .logo-container .name-title {
        text-align: center; } }
  .logo-container .alt-text-color {
    color: #707070; }
  .logo-container .link-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
    flex-flow: row wrap; }
    .logo-container .link-bar a.link-item {
      color: #474747;
      text-align: center;
      font-size: 1.5em;
      text-decoration: none;
      height: 30px;
      overflow: hidden;
      transition: all .9s; }
      .logo-container .link-bar a.link-item:hover {
        color: #ffffff; }

.blue-blur {
  height: 1074px;
  width: 100%;
  background-image: url(../img/blue-blur.png);
  background-repeat: no-repeat;
  background-size: auto 1074px;
  background-position: top left;
  position: absolute;
  top: 5px;
  opacity: .75; }

.purple-blur {
  height: 1074px;
  width: 100%;
  background-image: url(../img/purple-blur.png);
  background-repeat: no-repeat;
  background-size: auto 1074px;
  background-position: top right;
  position: absolute;
  top: 20px;
  opacity: .85; }

.work {
  overflow: hidden;
  padding: 0 10px;
  margin-top: 140px; }
  .work .titles {
    color: #707070;
    display: block;
    width: 328px;
    padding-bottom: 15px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-size: 1.875em;
    border-bottom: 1px solid #474747;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
    letter-spacing: 3px; }
  .work .project-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(314px, 1fr));
    max-width: 1024px;
    min-height: 475px;
    margin: 0 auto 300px auto; }
    .work .project-container .project-thumb {
      display: grid;
      background: #ffffff;
      border-radius: 5px;
      min-height: 175px;
      grid-template-column: 1fr;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease; }
      .work .project-container .project-thumb:hover {
        transform: scale(1.1); }
      .work .project-container .project-thumb img {
        width: 225px; }
    .work .project-container a.p-1 {
      background: #ffffff; }
    .work .project-container a.p-2 {
      background: #EBF4FD; }
    .work .project-container a.p-3 {
      background: #005861; }
    .work .project-container a.p-4 {
      background-image: linear-gradient(to top left, #644CA9, #FF4E3E); }
    .work .project-container a.p-5 {
      background: #AF272F; }
    .work .project-container a.p-6 {
      opacity: .8;
      background: rgba(0, 0, 0, 0.2);
      border: 1px dashed #474747; }
      .work .project-container a.p-6 img {
        width: 100px; }

.xp {
  overflow: hidden;
  color: #707070;
  margin-bottom: 300px; }
  .xp .titles {
    color: #707070;
    display: block;
    width: 328px;
    padding-bottom: 15px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-size: 1.875em;
    border-bottom: 1px solid #474747;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
    letter-spacing: 3px; }
  .xp .xp-container {
    text-align: center;
    letter-spacing: 3px;
    line-height: 20px; }
    .xp .xp-container .xp-item {
      padding-bottom: 5px; }
    .xp .xp-container .position-company {
      font-size: 1.25em;
      line-height: 28px; }
    .xp .xp-container .xp-alt {
      color: #ffffff;
      font-weight: 400; }

.education {
  overflow: hidden;
  color: #707070;
  margin-bottom: 200px; }
  .education .titles {
    color: #707070;
    display: block;
    width: 328px;
    padding-bottom: 15px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-size: 1.875em;
    border-bottom: 1px solid #474747;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
    letter-spacing: 3px; }
  .education .ed-container {
    text-align: center;
    letter-spacing: 3px; }
    .education .ed-container .ed-item {
      padding-bottom: 5px; }
    .education .ed-container .degree-school {
      font-size: 1.25em; }
    .education .ed-container .ed-alt {
      color: #ffffff;
      font-weight: 400; }

.footer {
  border-top: 1px solid #474747;
  padding: 40px;
  text-align: center;
  color: #707070;
  font-weight: 300; }
  .footer .footer-email {
    font-size: 1.25em; }
  .footer .copyright {
    font-size: 0.75; }
  .footer .link-bar {
    padding: 30px 0;
    display: flex;
    max-width: 200px;
    justify-content: space-between;
    margin: 0 auto; }

main.wrapper {
  text-align: center;
  max-width: 1200px;
  margin: 45px auto;
  border-radius: 5px;
  background: #ffffff; }
  main.wrapper header.home-logo img {
    width: 80px;
    float: right;
    transform: rotate(45deg);
    margin: 10px 10px 0 0; }
  main.wrapper header.home-logo :after {
    content: "";
    display: table;
    clear: both; }
  main.wrapper section.company-brand {
    padding: 45px 0; }
    main.wrapper section.company-brand img.company-logo {
      width: 175px;
      margin-bottom: 20px; }
    main.wrapper section.company-brand h2 {
      font-weight: 300;
      letter-spacing: 1px; }
    main.wrapper section.company-brand i {
      background: #f2f2f2;
      padding: 12px;
      border-radius: 50px;
      transition: all .3s ease; }
      main.wrapper section.company-brand i:hover {
        color: #ffffff; }
  main.wrapper section.project-content {
    background: #f2f2f2;
    padding-bottom: 45px;
    border-radius: 0px 0px 5px 5px; }
    main.wrapper section.project-content article.project-overview {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      padding: 45px 0;
      text-align: left; }
      main.wrapper section.project-content article.project-overview p {
        grid-column: 2 / -2;
        color: #707070;
        line-height: 30px;
        margin: 0; }
      main.wrapper section.project-content article.project-overview h3 {
        grid-column: 2 / 5; }
      main.wrapper section.project-content article.project-overview ul {
        margin: 0;
        padding: 0;
        grid-column: 2 / 5;
        list-style: none; }
        main.wrapper section.project-content article.project-overview ul li {
          background: #ffffff;
          display: inline-block;
          margin-bottom: 10px;
          margin-right: 10px;
          padding: 5px 10px;
          transition: all .3s ease; }
          main.wrapper section.project-content article.project-overview ul li:hover {
            transform: translateY(5px); }
    main.wrapper section.project-content article.project-examples {
      margin: 0 auto;
      width: 90%;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(4, 1fr); }
      main.wrapper section.project-content article.project-examples .example-item img {
        box-shadow: 2px 2px 2px 2px #e5e5e5;
        border-radius: 3px;
        width: 100%; }
      main.wrapper section.project-content article.project-examples .item-1 {
        grid-column: 1 / -3; }
      main.wrapper section.project-content article.project-examples .item-2 {
        grid-column: -3 / 5; }
      main.wrapper section.project-content article.project-examples .item-3, main.wrapper section.project-content article.project-examples .item-4 {
        grid-column: 1 / 5; }
      @media (max-width: 700px) {
        main.wrapper section.project-content article.project-examples .item-1, main.wrapper section.project-content article.project-examples .item-2 {
          grid-column: 1 / 5; } }

.p-1 {
  color: #FF4317; }

i.p-1:hover {
  background: #FF4317 !important; }

.p-2 {
  color: #446ACD; }

i.p-2:hover {
  background: #446ACD !important; }

.p-3 {
  color: #61bca4; }

i.p-3:hover {
  background: #61bca4 !important; }

.p-4 {
  color: #ff4e3e; }

.p-4:hover {
  background: #ff4e3e !important; }

.p-5 {
  color: #AF272F; }

a.profile-link {
  margin-right: 20px; }

i.p-5:hover {
  background: #AF272F !important; }

.p-6 {
  color: #61bca4; }

i.p-6:hover {
  background: #61bca4 !important; }
