body {
  font-family: "Montserrat", sans-serif;
  color: #474747;
  font-size: 1em;
  background: #212121 url(../img/topography.svg);
  background-size: 200px; }

.logo-area {
  position: relative;
  height: 100vh;
  overflow: hidden; }

.logo-container {
  position: absolute;
  height: 385px;
  top: 50%;
  margin-top: -192.5px;
  width: 100%;
  z-index: 1;
  transition: all .2s ease; }
  .logo-container .logo {
    height: 199px;
    width: 100%;
    background: url(../img/diamond-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute; }
  .logo-container .name-title {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -174px;
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #474747; }
  .logo-container .alt-text-color {
    color: #707070; }
  .logo-container .link-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 120px;
    margin-left: -151px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    .logo-container .link-bar a.link-item {
      color: #474747;
      text-align: center;
      font-size: 1.5em;
      text-decoration: none;
      height: 30px;
      overflow: hidden;
      transition: all .9s; }
      .logo-container .link-bar a.link-item:hover {
        color: #ffffff; }

.blue-blur {
  height: 1074px;
  width: 100%;
  background-image: url(../img/blue-blur.png);
  background-repeat: no-repeat;
  background-size: auto 1074px;
  background-position: top left;
  position: absolute;
  top: 5px;
  opacity: .75; }

.purple-blur {
  height: 1074px;
  width: 100%;
  background-image: url(../img/purple-blur.png);
  background-repeat: no-repeat;
  background-size: auto 1074px;
  background-position: top right;
  position: absolute;
  top: 20px;
  opacity: .85; }

.work {
  overflow: hidden;
  padding: 0 10px;
  margin-top: 140px; }
  .work .titles {
    color: #707070;
    display: block;
    width: 328px;
    padding-bottom: 15px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-size: 1.875em;
    border-bottom: 1px solid #474747;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
    letter-spacing: 3px; }
  .work .project-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(314px, 1fr));
    max-width: 1024px;
    min-height: 475px;
    margin: 0 auto 300px auto; }
    .work .project-container .project-item {
      display: grid;
      background: #ffffff;
      border-radius: 5px;
      min-height: 175px;
      grid-template-column: 1fr;
      align-items: center;
      justify-content: center; }
      .work .project-container .project-item img {
        width: 225px; }
    .work .project-container a.p-1 {
      background: #ffffff; }
    .work .project-container a.p-2 {
      background: #EBF4FD; }
    .work .project-container a.p-3 {
      background: #176C85; }
    .work .project-container a.p-4 {
      background-image: linear-gradient(to top left, #8A4384, #FF4E3E); }
    .work .project-container a.p-5 {
      background: #AF272F; }
    .work .project-container a.p-6 {
      background: #212121; }

.xp {
  overflow: hidden;
  color: #707070;
  margin-bottom: 300px; }
  .xp .titles {
    color: #707070;
    display: block;
    width: 328px;
    padding-bottom: 15px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-size: 1.875em;
    border-bottom: 1px solid #474747;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
    letter-spacing: 3px; }
  .xp .xp-container {
    text-align: center;
    letter-spacing: 3px;
    line-height: 20px; }
    .xp .xp-container .xp-item {
      padding-bottom: 5px; }
    .xp .xp-container .position-company {
      font-size: 1.25em; }
    .xp .xp-container .xp-alt {
      color: #ffffff;
      font-weight: 400; }

.education {
  overflow: hidden;
  color: #707070;
  margin-bottom: 300px; }
  .education .titles {
    color: #707070;
    display: block;
    width: 328px;
    padding-bottom: 15px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-size: 1.875em;
    border-bottom: 1px solid #474747;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
    letter-spacing: 3px; }
  .education .ed-container {
    text-align: center;
    letter-spacing: 3px; }
    .education .ed-container .ed-item {
      padding-bottom: 5px; }
    .education .ed-container .degree-school {
      font-size: 1.25em; }
    .education .ed-container .ed-alt {
      color: #ffffff;
      font-weight: 400; }
