body {
  font-family: "Montserrat", sans-serif;
  color: #474747;
  font-size: 1em;
  background: #212121; }

.logo-area {
  position: relative;
  height: 100vh;
  overflow: hidden; }

.logo-container {
  position: absolute;
  height: 385px;
  top: 50%;
  margin-top: -192.5px;
  width: 100%;
  z-index: 1;
  transition: all .2s ease; }
  .logo-container .logo {
    height: 199px;
    width: 100%;
    background: url(../img/diamond-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute; }
  .logo-container .name-title {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -174px;
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #474747; }
  .logo-container .alt-text-color {
    color: #707070; }
  .logo-container .link-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 120px;
    margin-left: -151px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    .logo-container .link-bar a.link-item {
      color: #474747;
      text-align: center;
      font-size: 1.5em;
      text-decoration: none;
      height: 30px;
      overflow: hidden;
      transition: all .9s; }
      .logo-container .link-bar a.link-item:hover {
        color: #ffffff; }

.blue-blur {
  height: 1074px;
  width: 100%;
  background-image: url(../img/blue-blur.png);
  background-repeat: no-repeat;
  background-size: auto 1074px;
  background-position: top left;
  position: absolute;
  top: 100px;
  opacity: .75; }

.purple-blur {
  height: 1074px;
  width: 100%;
  background-image: url(../img/purple-blur.png);
  background-repeat: no-repeat;
  background-size: auto 1074px;
  background-position: top right;
  position: absolute;
  top: 100px;
  opacity: .85; }

.work {
  overflow: hidden; }
  .work .titles {
    display: block;
    width: 328px;
    padding-bottom: 17px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-size: 1.875em;
    border-bottom: 1px solid #474747;
    text-align: center;
    margin: 140px auto 0 auto; }
  .work .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-row: 1fr;
    grid-gap: 40px;
    border: 10px solid hotpink;
    max-width: 1024px;
    min-height: 475px;
    margin: 120px auto 120px auto; }
    .work .project-container .project-item {
      background: #ffffff;
      border-radius: 5px; }
