include ./includes/head.jade
include ./includes/header.jade
include ./includes/work.jade
include ./includes/xp.jade
include ./includes/education.jade
include ./includes/footer.jade

include ./includes/script-links.jade


  
    

    

    
