<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
  link(rel="stylesheet", href="./assets/css/styles.css")
  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  title Hey there!
body

  header.logo-area
    .logo-container
      .logo
      h2.name-title Randy Taschner
      .link-bar
        a(class="link-item",href="#") 
          i(class="far fa-file-alt")
        a(class="link-item",href="#")
          i(class="far fa-envelope")
        a(class="link-item",href="#")
          i(class="fab fa-github")
        a(class="link-item",href="#")
          i(class="fab fa-linkedin-in")
        a(class="link-item",href="#")
          i(class="fab fa-dribbble")
        a(class="link-item",href="#")
          i(class="fab fa-instagram")
    .blue-blur
    .purple-blur
    
  section.work
    
    article
      
      h1 work
      
      hr
      
      p Bacon ipsum dolor amet shoulder t-bone fatback jowl landjaeger. Bacon meatloaf ham brisket short loin tail pork loin pork chop. Kielbasa pork pork belly, cupim tri-tip biltong leberkas. Ham hock bacon tenderloin turkey. Jowl kielbasa hamburger burgdoggen, beef ribs strip steak ham. 
      
    div(style="height: 2000px")
    

    
    
    script( src="./assets/js/functions.js")
