section.education
  
  h2.titles education

  article.ed-container
    .ed-item
      p.degree-school <span class="ed-alt">Accociates</span>, Art Institute of&nbsp;Colorado
      p.type Web design and interactive media
      p.location-date Denver • 2015
