section.footer
  a(class="footer-email",href="mailto:randy@randytaschner.com") randy@randytaschner.com
  .link-bar
    a(class="link-item",href="#" target="_blank")
      i(class="far fa-file-alt")
      
    a(class="link-item",href="#" target="_blank")
      i(class="far fa-envelope")
      
    a(class="link-item",href="https://github.com/randymt" target="_blank")
      i(class="fab fa-github")
      
    a(class="link-item",href="https://www.linkedin.com/in/randy-taschner/" target="_blank")
      i(class="fab fa-linkedin-in")
      
    a(class="link-item",href="https://dribbble.com/RandyT1000" target="_blank")
      i(class="fab fa-dribbble")
      
    a(class="link-item",href="https://codepen.io/randymt/#" target="_blank") 
      i(class="fab fa-codepen")
      
  
  .copyright © 2018 Randy Taschner's portfolio. &nbsp; All Rights Reserved.
