section.footer
  a(class="footer-email",href="#") randy@randytaschner.com
  .link-bar
    a(class="link-item",href="#")
      i(class="far fa-file-alt")
      
    a(class="link-item",href="#")
      i(class="far fa-envelope")
      
    a(class="link-item",href="#")
      i(class="fab fa-github")
      
    a(class="link-item",href="#")
      i(class="fab fa-linkedin-in")
      
    a(class="link-item",href="#")
      i(class="fab fa-dribbble")
      
    a(class="link-item",href="#")
      i(class="fab fa-codepen")
      
  
  .copyright © 2018 Randy Taschner's portfolio. &nbsp; All Rights Reserved.
