header.logo-area
  .logo-container
    .logo
    h2.name-title
      span.alt-text-color R
      | andy
      span.alt-text-color  T
      | aschner
    .link-bar
      a(class="link-item",href="#" target="_blank") 
        i(class="far fa-file-alt")
        //- p.link-tip Resume
      a(class="link-item",href="mailto:randy@randytaschner.com")
        i(class="far fa-envelope")
        //- p.link-tip Email
      a(class="link-item",href="https://github.com/randymt" target="_blank")
        i(class="fab fa-github")
        //- p.link-tip Github
      a(class="link-item",href="https://www.linkedin.com/in/randy-taschner/" target="_blank")
        i(class="fab fa-linkedin-in")
        //- p.link-tip Linkedin
      a(class="link-item",href="https://dribbble.com/RandyT1000" target="_blank")
        i(class="fab fa-dribbble")
        //- p.link-tip Dribbble
      a(class="link-item",href="https://codepen.io/randymt" target="_blank")
        i(class="fab fa-codepen")
        //- p.link-tip Codepen
  .blue-blur
  .purple-blur
