section.work

  h2.titles work
  
  article.project-container
    
    a(href="#" class="project-item p-1") 
        img(src="assets/img/projects/project-1/logo/logo.svg")
    a(href="#" class="project-item p-2") 
        img(src="assets/img/projects/project-2/logo/logo.svg")
    a(href="#" class="project-item p-3") 
        img(src="assets/img/projects/project-3/logo/logo.svg")
    a(href="#" class="project-item p-4") 
        img(src="assets/img/projects/project-4/logo/logo.svg")
    a(href="#" class="project-item p-5") 
        img(src="assets/img/projects/project-5/logo/logo.svg")
    
