section.work
  h2.titles work
  
  article.project-container
    
    a(href="./work-profiles/p-5.html" class="project-thumb p-5 modal-toggle") 
        img(src="assets/img/projects/project-5/logo/logo.svg")
    a(href="./work-profiles/p-2.html" class="project-thumb p-2") 
        img(src="assets/img/projects/project-2/logo/logo-text.png")
    a(href="./work-profiles/p-3.html" class="project-thumb p-3") 
        img(src="assets/img/projects/project-3/logo/logo-2.png")
    a(href="./work-profiles/p-4.html" class="project-thumb p-4") 
        img(src="assets/img/projects/project-4/logo/logo.svg")
    a(href="./work-profiles/p-1.html" class="project-thumb p-1") 
        img(src="assets/img/projects/project-1/logo/logo.svg")
    a(href="#" class="project-thumb p-6") 
        img(src="assets/img/projects/project-6/logo/logo.svg")
    
