section.work

  h2.titles work
  
  article.project-container
    
    a(href="#" class="project-item p-1") 1
        //- img(src="./assets/img/projects/project-1/logo/logo.svg")
    a(href="#" class="project-item p-2") 1
        //- img(src="./assets/img/projects/project-2/logo/logo.svg")
    a(href="#" class="project-item p-3") 1
        //- img(src="./assets/img/projects/project-4/logo/logo.svg")
    a(href="#" class="project-item p-4") 1
        //- img(src="./assets/img/projects/project-1/logo/logo.svg")
    a(href="#" class="project-item p-5") 1
        //- img(src="./assets/img/projects/project-1/logo/logo.svg")
    a(href="#" class="project-item p-6") 1
        //- img(src="./assets/img/projects/project-1/logo/logo.svg")
    
