section.xp
  
  h2.titles experience

  article.xp-container
    .xp-item
      p.position-company <span class="xp-alt">Designer & developer</span>, Infinite Retries
      p.location-date Denver • 2018
    
    .xp-item
      p.position-company <span class="xp-alt">Web developer</span>, Brillo Construction Services
      p.location-date Denver • 2018
    
    .xp-item
      p.position-company <span class="xp-alt">Web developer</span>, Green Butterfly Design
      p.location-date Denver • 2015-2018
    
    .xp-item
      p.position-company <span class="xp-alt">Web developer</span>, Lara's Paintbrush
      p.location-date Denver • 2018
    
    .xp-item
      p.position-company <span class="xp-alt">Online graphic designer</span>, Richmond American Homes
      p.location-date Denver • 2015-2018
