section.xp
  
  h2.titles experience

  article.xp-container
    .xp-item
      p.position-company <span class="xp-alt">Designer & developer</span>, &nbsp;Infinite Retries
      p.location-date Denver • 2018
    
    .xp-item
      p.position-company <span class="xp-alt">Web developer</span>, Brillo&nbsp;Construction Services
      p.location-date Denver • 2018
    
    .xp-item
      p.position-company <span class="xp-alt">Web developer</span>, Green&nbsp;Butterfly Design
      p.location-date Denver • 2015-2018
    
    .xp-item
      p.position-company <span class="xp-alt">Web developer</span>, Lara's&nbsp;Paintbrush
      p.location-date Denver • 2018
    
    .xp-item
      p.position-company <span class="xp-alt">Online graphic designer</span>, Richmond American&nbsp;Homes
      p.location-date Denver • 2014-2017
