.work {
  // background: limegreen;
  overflow: hidden;

  .titles {
    @include titleStyles
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 64px;
    // background: limegreen;
    max-width: 1460px;
    margin: 120px auto 120px auto;

    .project-item {
      background: honeydew;
      border-radius: 5px;
      height: 293px;
    }
    .p-1 {
      background: salmon;
      grid-row: 1 / 3;
      height: 651px;
    }
  }
}
