.work {
  // background: limegreen;
  overflow: hidden;

  .titles {
    @include titleStyles
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-row: 1fr;
    grid-gap: 40px;

    border: 10px solid hotpink;

    max-width: 1024px;
    min-height: 475px;
    margin: 120px auto 120px auto;

    .project-item {
      background: $white;
      border-radius: 5px;
      // height: 200px;
    }
  }
}
