.work {
  // background: limegreen;
  overflow: hidden;

  .titles {
    @include titleStyles
  }

  .project-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(314px, 1fr));

    // border: 10px solid hotpink;
    // background: #bada55;

    max-width: 1024px;
    min-height: 475px;
    margin: 120px auto 120px auto;

    .project-item {
      background: $white;
      border-radius: 5px;
      min-height: 175px;
    }

  }
}
